<div class="wrapper">
  <div class="topicos">
    <div class="container">
      <div class="row">
        <div class="coluna">
          <ul class="topicos-footer">
            <h4>Produtos&Serviços</h4>
            <br>
            <h6>DIA A DIA</h6>
            <li>Abrir conta Banco XYZ</li>
            <li>As minhas contas</li>
            <li>Os meus cartões</li>
            <li>Internacional</li>
            <li>Serviços</li>
          </ul>
        </div>
        <div class="coluna">
          <ul class="topicos-footer">
            <h4></h4>
            <br>
            <br>
            <h6>FINANCIAR</h6>
            <li>Crédito Habitação</li>
            <li>Transferências OIC</li>
            <li>Crédito Automóvel</li>
            <li>Crédito Pessoal</li>
            <li>Parcerias e Protocolos</li>
          </ul>
        </div>
        <div class="coluna">
          <ul class="topicos-footer">
            <h4></h4>
            <br>
            <br>
            <h6>INVESTIR</h6>
            <li>Fundos</li>
            <li>Índices</li>
            <li>Cotações</li>
            <li>Serviços de investimento</li>
          </ul>
        </div>
        <div class="coluna">
          <ul class="topicos-footer">
            <h4></h4>
            <br>
            <br>
            <h6>PROTEGER</h6>
            <li>A mim ou à minha família</li>
            <li>Casa</li>
            <li>Carro</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>